/// Helpers

/// Helpers - Colours
@each $key, $value in $map-colour {
  @each $sKey, $sValue in $value {
    $cKey: #{$key}-#{$sKey};

    .text-#{$cKey} {
      color: var(--clr-#{$cKey});
    }

    .bg-#{$cKey} {
      background-color: var(--clr-#{$cKey});
    }

    .fill-#{$cKey} {
      fill: var(--clr-#{$cKey});
    }
  }
}

/// Helpers - Font Families
@each $key, $value in $map-font-family {
  .ff-#{$key} {
    font-family: var(--ff-#{$key});
  }
}

/// Helpers - Font Weights
@each $key, $value in $map-font-weight {
  .fw-#{$key} {
    font-weight: var(--fw-#{$key});
  }
}

/// Helpers - Font Styles
@each $key, $value in $map-font-style {
  .fs-#{$key} {
    font-style: var(--fs-#{$key});
  }
}

/// Helpers - Font Sizes
@each $key, $value in $map-font-size {
  .fz-#{$key} {
    font-size: var(--fz-#{$key});
  }
}

@each $dKey, $dValue in $map-direction {
  @if ($dKey == "all") {
    @each $sKey, $sValue in $map-spacer-fixed {
      .m-f-#{$sKey} {
        margin-block-start: var(--f-#{$sKey});
        margin-block-end: var(--f-#{$sKey});
        margin-inline-start: var(--f-#{$sKey});
        margin-inline-end: var(--f-#{$sKey});
      }

      .p-f-#{$sKey} {
        padding-block-start: var(--f-#{$sKey});
        padding-block-end: var(--f-#{$sKey});
        padding-inline-start: var(--f-#{$sKey});
        padding-inline-end: var(--f-#{$sKey});
      }
    }
  } @else if ($dKey == "block") {
    @each $sKey, $sValue in $map-spacer-fixed {
      $cKey: #{$dKey}-#{$sKey};
      .m-f-#{$cKey} {
        margin-block-start: var(--f-#{$sKey});
        margin-block-end: var(--f-#{$sKey});
      }

      .p-f-#{$cKey} {
        padding-block-start: var(--f-#{$sKey});
        padding-block-end: var(--f-#{$sKey});
      }
    }
  } @else if ($dKey == "inline") {
    @each $sKey, $sValue in $map-spacer-fixed {
      $cKey: #{$dKey}-#{$sKey};
      .m-f-#{$cKey} {
        margin-inline-start: var(--f-#{$sKey});
        margin-inline-end: var(--f-#{$sKey});
      }

      .p-f-#{$cKey} {
        padding-inline-start: var(--f-#{$sKey});
        padding-inline-end: var(--f-#{$sKey});
      }
    }
  } @else if ($dKey == "y") {
    @each $sKey, $sValue in $map-spacer-fixed {
      $cKey: #{$dKey}-#{$sKey};
      .m-f-#{$cKey} {
        margin-top: var(--f-#{$sKey});
        margin-bottom: var(--f-#{$sKey});
      }

      .p-f-#{$cKey} {
        padding-top: var(--f-#{$sKey});
        padding-bottom: var(--f-#{$sKey});
      }
    }
  } @else if ($dKey == "x") {
    @each $sKey, $sValue in $map-spacer-fixed {
      $cKey: #{$dKey}-#{$sKey};
      .m-f-#{$cKey} {
        margin-left: var(--f-#{$sKey});
        margin-right: var(--f-#{$sKey});
      }

      .p-f-#{$cKey} {
        padding-left: var(--f-#{$sKey});
        padding-right: var(--f-#{$sKey});
      }
    }
  } @else {
    @each $sKey, $sValue in $map-spacer-fixed {
      $cKey: #{$dKey}-#{$sKey};

      .m-f-#{$cKey} {
        margin-#{$dKey}: var(--f-#{$sKey});
      }

      .m-n-f-#{$cKey} {
        margin-#{$dKey}: calc(var(--f-#{$sKey}) * -1);
      }

      .p-f-#{$cKey} {
        padding-#{$dKey}: var(--f-#{$sKey});
      }
    }
  }
}
