/// Helpers

/// Helpers - Colours
@each $key, $value in $map-colour {
  @each $sKey, $sValue in $value {
    $cKey: #{$key}-#{$sKey};

    .text-#{$cKey} {
      color: var(--clr-#{$cKey});
    }

    .bg-#{$cKey} {
      background-color: var(--clr-#{$cKey});
    }

    .fill-#{$cKey} {
      fill: var(--clr-#{$cKey});
    }
  }
}

/// Helpers - Font Families
@each $key, $value in $map-font-family {
  .ff-#{$key} {
    font-family: var(--ff-#{$key});
  }
}

/// Helpers - Font Weights
@each $key, $value in $map-font-weight {
  .fw-#{$key} {
    font-weight: var(--fw-#{$key});
  }
}

/// Helpers - Font Styles
@each $key, $value in $map-font-style {
  .fs-#{$key} {
    font-style: var(--fs-#{$key});
  }
}

/// Helpers - Font Sizes
@each $key, $value in $map-font-size {
  .fz-#{$key} {
    font-size: var(--fz-#{$key});
  }
}

/// Helpers - Spacers
@each $dKey, $dValue in $map-direction {
  /// Helpers - Fixed Spacers
  @each $sKey, $sValue in $map-spacer-fixed {
    $cKey: #{$dKey}-#{$sKey};
    $vKey: var(--f-#{$sKey});

    @if ($dKey == "all") {
      .m-f-#{$sKey} {
        margin-block-start: #{$vKey};
        margin-block-end: #{$vKey};
        margin-inline-start: #{$vKey};
        margin-inline-end: #{$vKey};
      }

      .p-f-#{$sKey} {
        padding-block-start: #{$vKey};
        padding-block-end: #{$vKey};
        padding-inline-start: #{$vKey};
        padding-inline-end: #{$vKey};
      }
    } @else if ($dKey == "block") {
      .m-f-#{$cKey} {
        margin-block-start: #{$vKey};
        margin-block-end: #{$vKey};
      }

      .p-f-#{$cKey} {
        padding-block-start: #{$vKey};
        padding-block-end: #{$vKey};
      }
    } @else if ($dKey == "inline") {
      .m-f-#{$cKey} {
        margin-inline-start: #{$vKey};
        margin-inline-end: #{$vKey};
      }

      .p-f-#{$cKey} {
        padding-inline-start: #{$vKey};
        padding-inline-end: #{$vKey};
      }
    } @else if ($dKey == "y") {
      .m-f-#{$cKey} {
        margin-top: #{$vKey};
        margin-bottom: #{$vKey};
      }
    } @else if ($dKey == "x") {
      .m-f-#{$cKey} {
        margin-left: #{$vKey};
        margin-right: #{$vKey};
      }

      .p-f-#{$cKey} {
        padding-left: #{$vKey};
        padding-right: #{$vKey};
      }
    } @else {
      .m-f-#{$cKey} {
        margin-#{$dKey}: #{$vKey};
      }

      @if ($sKey != "auto") {
        .m-n-f-#{$cKey} {
          margin-#{$dKey}: calc(#{$vKey} * -1);
        }
      }

      .p-f-#{$cKey} {
        padding-#{$dKey}: #{$vKey};
      }
    }
  }

  /// Helpers - One-up Fixed Spacers
  @each $sKey, $sValue in $map-spacer-fixed-one-up {
    $cKey: #{$dKey}-#{$sKey};
    $vKey: var(--f-o-#{$sKey});

    @if ($dKey == "all") {
      .m-f-o-#{$sKey} {
        margin-block-start: #{$vKey};
        margin-block-end: #{$vKey};
        margin-inline-start: #{$vKey};
        margin-inline-end: #{$vKey};
      }

      .p-f-o-#{$sKey} {
        padding-block-start: #{$vKey};
        padding-block-end: #{$vKey};
        padding-inline-start: #{$vKey};
        padding-inline-end: #{$vKey};
      }
    } @else if ($dKey == "block") {
      .m-f-o-#{$cKey} {
        margin-block-start: #{$vKey};
        margin-block-end: #{$vKey};
      }

      .p-f-o-#{$cKey} {
        padding-block-start: #{$vKey};
        padding-block-end: #{$vKey};
      }
    } @else if ($dKey == "inline") {
      .m-f-o-#{$cKey} {
        margin-inline-start: #{$vKey};
        margin-inline-end: #{$vKey};
      }

      .p-f-o-#{$cKey} {
        padding-inline-start: #{$vKey};
        padding-inline-end: #{$vKey};
      }
    } @else if ($dKey == "y") {
      .m-f-o-#{$cKey} {
        margin-top: #{$vKey};
        margin-bottom: #{$vKey};
      }
    } @else if ($dKey == "x") {
      .m-f-o-#{$cKey} {
        margin-left: #{$vKey};
        margin-right: #{$vKey};
      }

      .p-f-o-#{$cKey} {
        padding-left: #{$vKey};
        padding-right: #{$vKey};
      }
    } @else {
      .m-f-o-#{$cKey} {
        margin-#{$dKey}: #{$vKey};
      }

      @if ($sKey != "auto") {
        .m-n-f-o-#{$cKey} {
          margin-#{$dKey}: calc(#{$vKey} * -1);
        }
      }

      .p-f-o-#{$cKey} {
        padding-#{$dKey}: #{$vKey};
      }
    }
  }
}
